.body{
    font-family: 'Mukta', sans-serif;
}
html{
    background-color: rgb(51, 95, 227);
}
.container{
    background-color: rgb(51, 95, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}
.char-img{
    height: 200px;
    width: 200px;
}
.heading{
    font-size: 40px;
}
#animage{
    text-align: center;
    color: white;
}